node_modules/
front/node_modules/
app/yarn.lock
app/package-lock.json
dump.rdb
back/node_modules/
.idea/
*.log

build/
back_/
dist/
public/assets/
recursos/
front
front/docs/
front/docs/public
/coverage
/.nyc_output

.DS_Store
front/package.json