<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81330883681-ddkeig3ov5hml78um4ijprtade8urdv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81330883681-ddkeig3ov5hml78um4ijprtade8urdv6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81330883681-2r6vrdm0g01cb9fild41qrfm1j1n4r7f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc6Txtv84SInQZbYLpZrjUJCvUzH_Po6M</string>
	<key>GCM_SENDER_ID</key>
	<string>81330883681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.picpuc.picpuc</string>
	<key>PROJECT_ID</key>
	<string>picpuc-22f9e</string>
	<key>STORAGE_BUCKET</key>
	<string>picpuc-22f9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81330883681:ios:6f2205dfebd03b292e2e20</string>
	<key>DATABASE_URL</key>
	<string>https://picpuc-22f9e.firebaseio.com</string>
</dict>
</plist>